<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
                <link rel="icon" href="/img/cloud_PNG27.png">
        <link rel="stylesheet" href="./css/style.css">

    </head>

<body>

</body>
<div class="main-content">

{{>header}}
    <img src="img/image2.png">
</div>

    {{>footer}}
</html>