<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/cloud_PNG27.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>

<body>
    <div class="main-content">
     {{>header}}
            
             <p>use this site to get your weather</p>
    <form>
<input placeholder="Location">
<button>serach</button>
         </form>
        <P id="message-1"></P>
            <P id="message-2"></P>
    </div>  
        {{>footer}}
                <script src="/js/app.js"></script>

</body>

</html>